@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global resets */

body {
  background: white;
  color: black;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

:target {
  scroll-margin-top: 6rem;
}
